<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hu.ait.lifexp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
            <activity android:name=".SplashActivity"
                      android:theme="@style/Theme.AppCompat.Light.NoActionBar">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>

            </activity>

        <activity android:name=".LogHabitActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".HabitLogViewActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".LifeExpectancyChartActivity">
        </activity>
        <activity android:name=".NewHabitActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".HabitsListActivity"
                android:label="@string/title_activity_habits_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".HabitInfoActivity"
                android:label="@string/title_activity_habit_info"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".DemographicInfoActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".ForumActivity"
                android:label="@string/title_list_forum"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>